@media(min-width: 768px){
    .application-tracker{
        width:50% !important;
    }
}

.services-card-1{
    background-color: #006B35 !important;
}

.services-card-2{
    background-color: #FCD015 !important;
}

.card{
    max-width: 450px !important;
}